* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 90%;
  max-width: 470px;
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  background: rgb(131, 58, 180);
  background: linear-gradient(107deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  text-align: center;
  position: relative;
}

.search {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;

  input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 100%;
  }

  button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    padding-top: 7px;
  }

  button img {
    width: 20px;
  }
}


.temp {
  font-size: 80px;
  font-weight: 500;
 margin-top: 20px;
}

.city {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}


.weather-icon {
  width: 170px;
  margin-top: 30px;
}


.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 30px;

  .sec-row {
    margin-top: 40px;
  }

}

.col {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 100px;
  flex-direction: column;

  i {
    font-size: 40px;
    margin-bottom: 10px;
  }

}

.data {
  font-size: 28px;
}


#result-box{
  max-height: 200px;
  overflow: scroll;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 105px;
  left: 60px;
  right: 130px;
  border-radius: 10px;

}

#result-box div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#result-box.hide{
  display: none;
}